<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="maria.DiscountPolicyDAO">

    <select id="selectDiscountRateByGrade" parameterType="String" resultType="Integer">
    /* DiscountPolicyDAO.selectDiscountRateByGrade 사용자 등급으로 할인율 조회*/
    SELECT DISCOUNT_RATE
      FROM T_DISCOUNT_POLICY TDIP
     WHERE GRADE_CD =  #{gradeCd}
       AND SYSDATE() BETWEEN TDIP.START_DATE AND TDIP.END_DATE
    </select>

</mapper>