<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="maria.UserDAO">
    <insert id="insertUser" parameterType="JoinDTO">
        /* UserDAO.insertUser 사용자추가*/
        INSERT INTO T_USER
        (
            USER_ID
          , USER_PW
          , USER_NM
          , REGISTER_DT
          , CHANGE_DT
        )
        VALUES
        (
            #{userId}
          , #{userPw}
          , #{userNm}
          , SYSDATE()
          , SYSDATE()
        )
    </insert>

    <select id="selectByUserId" parameterType="String" resultType="User">
        /* UserDAO.selectByUserId USER_ID로 사용자 조회*/
        SELECT T01.USER_NUM             /* 사용자번호*/
             , T01.USER_ID              /* 사용자ID*/
             , T01.USER_PW              /* 비밀번호*/
             , T01.ROLE_CD              /* 역할코드[COM1001]*/
             , T01.ACCOUNT_STATUS_CD    /* 계정상태코드[]*/
             , T01.USER_NM              /* 이름*/
             , T01.REGISTER_DT          /* 등록일자*/
             , T01.CHANGE_DT            /* 수정일자*/
          FROM T_USER T01
         WHERE T01.USER_ID = #{userId}
    </select>

<!-- TODO 중복 쿼리로 주석처리 사용중인 코드 수정 후 삭제-->

<!--    <insert id="join" parameterType="JoinDTO">-->
<!--        INSERT INTO T_USER-->
<!--        (-->
<!--          USER_ID-->
<!--        , USER_PW-->
<!--        , REGISTER_DT-->
<!--        , CHANGE_DT-->
<!--        , USER_NM-->
<!--        )-->
<!--        VALUES-->
<!--            (-->
<!--              #{userId}-->
<!--            , #{userPw}-->
<!--            , CURRENT_TIMESTAMP-->
<!--            , CURRENT_TIMESTAMP-->
<!--            , #{userNm}-->
<!--            )-->
<!--    </insert>-->

<!--    <select id="findById" parameterType="String" resultType="joinDTO">-->
<!--        SELECT * FROM T_USER-->
<!--        WHERE USER_ID = #{userId}-->
<!--    </select>-->

    <update id="updateUserInfo" parameterType="User">
        /* UserDAO.updateUserInfo USER정보 업데이트*/
        UPDATE T_USER
           SET USER_NM = #{userNm}
             , CHANGE_DT = SYSDATE()
         WHERE USER_ID = #{userId}
    </update>
</mapper>