<!DOCTYPE html>
<html>
<head>
    <title th:text="#{page.title.join}">회원가입</title>
    <!-- 부트스트랩 CSS 파일 불러오기 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            init();
            bind();
        });

        let isDupchecked = false;
        let validatedPw = false;
        function init(){
            $('#joinBtn').prop('disabled', true);
            $('#pwMessage').hide();
            $('#idMessage').hide();
        }
        function bind(){
            changeId();
            validatePassword();
            checkNm();
        }
        //ID 중복처리버튼
        function checkDup(){
            event.preventDefault();
            if(!isDupchecked){
                var userId = $('#userId').val();
                if($('#userId').val().trim() != ""){
                    $.ajax({
                        type: 'GET',
                        url: "/users/join/checkDupId",
                        data: { userId:userId },
                        success: function(response) {
                            let dupCheckMsg;
                            if (typeof response === "string") {
                                // 중복 아이디가 없는 경우
                                dupCheckMsg = response
                                isDupchecked = true;
                            } else {
                                // 중복 아이디가 있는 경우
                                dupCheckMsg = response.message;
                                isDupchecked = false;
                            }
                            $("#dupCheckMsg").text(dupCheckMsg);
                            $('#idMessage').show();
                            $('#dupCheckMsg').toggleClass('text-success', isDupchecked);
                            $('#dupCheckMsg').toggleClass('text-danger', !isDupchecked);
                            validateAll();
                        },
                        error: function(xhr) {
                            alert(/*[[#{error.exist}]]*/ "error 발생")
                        }
                    });
                }else{
                    alert(/*[[#{error.join.needID}]]*/ "ID를 입력");
                }
            }else{
                $('#dupCheckMsg').text(/*[[#{error.join.alreadyCheckDup}]]*/ "이미 체크한 ID");
            }
        }
        function changeId(){
            $("#userId").change(function(){
                isDupchecked = false;
                $('#joinBtn').prop('disabled', true);
                $('#idMessage').hide();
            })
            validateAll();
        }
        function validatePassword() {
            $('#userPw, #userPwConfirm').on('change', function() {
                if($("#userPw").val().trim() != ""){
                    const userPw = $('#userPw').val();
                    const userPwConfirm = $('#userPwConfirm').val();

                    if (userPw !== userPwConfirm) {
                        $('#userPwConfirmMsg').text(/*[[#{error.join.notSamePw}]]*/ "비밀번호가 일치하지 않음");
                        $('#pwMessage').show();
                        validatedPw = false;
                    }else{
                        validatedPw = true;
                        $('#userPwConfirmMsg').text(/*[[#{join.samePw}]]*/"비밀번호가 일치");
                        $('#pwMessage').show();
                    }
                    $('#userPwConfirmMsg').toggleClass('text-success', validatedPw);
                    $('#userPwConfirmMsg').toggleClass('text-danger', !validatedPw);
                    validateAll();
                }else{
                    validatedPw = false;
                    $('#pwMessage').hide();
                }
            })
        }

        function checkNm(){
            $("#userNm").change(function(){
                validateAll();
            })
        }
        function validateAll(){
            if($("#userNm").val().trim() !== "" && validatedPw && isDupchecked){
                $('#joinBtn').prop('disabled', false);
            }else{
                $('#joinBtn').prop('disabled', true);
            }
        }
    </script>
</head>
<body>
<div class="container justify-content-center">
    <!-- 제목 -->
    <div class="row mt-3">
        <div class="col text-center"><h2 class="font-weight-bold">회원가입</h2></div>
    </div>
    <!-- 가입정보 -->
    <div class="row mt-3"th:if="${failMessage}">
        <div class="col-md-5 mx-auto">
            <div class="alert alert-danger" role="alert" th:text="${failMessage}"></div>
        </div>
    </div>
    <form id="signInForm" th:action="@{/users/join}" th:object="${joinDTO}" method="post">
        <div class="row mt-3">
            <div class="col-md-5" style="margin-left:29%;">
                <div>*ID : </div>
                <input type="text" id="userId" th:field="*{userId}" class="form-control" placeholder="아이디" >
            </div>
            <div class="mt-auto">
                <!-- 아이디 중복확인 버튼 -->
                <button class="btn btn-primary" th:onclick="checkDup()" th:text="#{button.dupCheck}">중복검사</button>
            </div>
        </div>
        <div class="row mt-0" style="display: none" id="idMessage">
            <div class="col-md-5 mx-auto">
                <div th:if="${#fields.hasErrors('userId')}">
                    <span th:errors="*{userId}"></span>
                </div>
                <span th:id="dupCheckMsg" ></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-5 mx-auto">
                <div>*PW : </div>
                <input type="password" name="password" th:field="*{userPw}" id="userPw" class="form-control" placeholder="비밀번호" >
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-5 mx-auto">
                <div>*PW 확인 : </div>
                <input type="password" class="form-control" th:field="*{userPwConfirm}" id="userPwConfirm" placeholder="비밀번호 확인" >
            </div>
        </div>
        <div class="row mt-0" style="display: none" id="pwMessage">
            <div class="col-md-5 mx-auto">
                <div th:if="${#fields.hasErrors('userPw')}">
                    <span th:errors="*{userPw}"></span>
                </div>
                <span th:id="userPwConfirmMsg"></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-5 mx-auto">
                <div>*이름 : </div>
                <input type="text" th:field="*{userNm}" id="userNm" class="form-control" placeholder="이름" >
            </div>
        </div>
        <!-- 버튼 -->
        <div class="row mt-3">
            <div class="col">
                <div class="text-center">
                    <button type="button" id="signInBtn" class="btn btn-primary" th:href="@{/users/signIn}" onclick="location.href = this.getAttribute('href');"  th:text="#{button.singIn}">로그인</button>
                    <button id="joinBtn" class="btn btn-primary" type="submit" th:text="#{button.join}">회원가입</button>
                </div>
            </div>
        </div>
    </form>

</div>
</body>
</html>