<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>상품 목록</title>
	<!-- 부트스트랩 CSS 파일 불러오기 -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style>
		.field-error {
			border-color: #dc3545;
			color: #dc3545;
		}
	</style>
</head>
<body>
	<div class="container">
		<!-- 상품 목록 제목 -->
		<div class="row mt-3">
			<div class="col text-center"><h2 class="font-weight-bold" th:text="#{page.title.point.history}">포인트내역</h2></div>
		</div>
<!--		<form action="/home" th:action th:object="${productSearchDTO}" method="get">-->
<!--			&lt;!&ndash; 검색창 &ndash;&gt;-->
<!--			<div class="row mt-3">-->
<!--				<div class="col-md-5  mb-3">-->
<!--					<div class="row">-->
<!--						<div class="col">-->
<!--							&lt;!&ndash; 최소 가격 input &ndash;&gt;-->
<!--							<input type="text" class="form-control" th:field="*{fromPrice}" th:errorclass="field-error" placeholder="최소 가격" maxlength="9">-->
<!--						</div>-->
<!--						<div class="col-auto align-self-center">-->
<!--							&lt;!&ndash; "~" 기호 &ndash;&gt;-->
<!--							<span class="font-weight-bold">~</span>-->
<!--						</div>-->
<!--						<div class="col">-->
<!--							&lt;!&ndash; 최대 가격 input &ndash;&gt;-->
<!--							<input type="text" class="form-control" th:field="*{toPrice}" th:errorclass="field-error" placeholder="최대 가격" maxlength="9">-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-2">-->
<!--					<div class="d-flex justify-content-between">-->
<!--						&lt;!&ndash; 검색 버튼 &ndash;&gt;-->
<!--						<button class="btn btn-secondary btn-block" type="submit" th:text="#{button.search}">검색</button>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</form>-->
<!--		&lt;!&ndash; 검색창 &ndash;&gt;-->
<!--		<div th:object="${productSearchDTO}">-->
<!--			<div class="row mt-3" th:if="${#fields.hasErrors('fromPrice') or #fields.hasErrors('toPrice')}">-->
<!--				<div class="col-md-5 mb-3">-->
<!--					<div class="row">-->
<!--						<div class="col">-->
<!--							&lt;!&ndash; 최소 가격 에러 &ndash;&gt;-->
<!--							<div class="field-error" th:errors="*{fromPrice}">-->
<!--								최소가격 오류-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="col-auto align-self-center">-->
<!--						</div>-->
<!--						<div class="col">-->
<!--							&lt;!&ndash; 최대 가격 에러 &ndash;&gt;-->
<!--							<div class="field-error" th:errors="*{toPrice}">-->
<!--								최대가격 오류-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
		<!-- 상품 목록 테이블 -->
		<div class="row mt-3">
			<div class="mt-3 col-md-12 table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center" style="width: 10%" th:text="#{label.date}">날짜</th>
							<th class="text-center" style="width: 20%" th:text="#{label.content}">내용</th>
							<th class="text-center" style="width: 10%" th:text="#{label.change.point}">변동금액</th>
							<th class="text-center" style="width: 10%" th:text="#{label.remain.point}">잔여포인트</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="history : ${pointHistory}">
							<td class="text-center" th:text="${history.registerDt}">날짜</td>
							<td class="text-center" th:text="${history.pointChangeNm}">내용</a></td>
							<td class="text-center" th:text="${history.deductPoint}">변동금액</td>
							<td class="text-center" th:text="${history.remainPoint}">잔여포인트</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- 페이징 -->
<!--		<nav class="mt-3" aria-label="page navigation">-->
<!--			<ul class="pagination justify-content-center">-->
<!--				<li class="page-item" th:classappend="${paginationInfo.currentPageNo == 1} ? disabled">-->
<!--					<a class="page-link" th:href="@{/home(currentPageNo=${paginationInfo.currentPageNo - 1}-->
<!--																		, productNm=${productSearchDTO.productNm}-->
<!--																		, fromPrice=${productSearchDTO.fromPrice}-->
<!--																		, toPrice=${productSearchDTO.toPrice})}"-->
<!--					   th:text="#{button.previous}">-->
<!--						이전-->
<!--					</a>-->
<!--				</li>-->
<!--				<li class="page-item" th:classappend="${paginationInfo.currentPageNo == pageNo} ? active"  th:each="pageNo : ${#numbers.sequence(paginationInfo.firstPageNoOnPageList, paginationInfo.lastPageNoOnPageList)}">-->
<!--					<a class="page-link" th:href="@{/home(currentPageNo=${pageNo}-->
<!--														, productNm=${productSearchDTO.productNm}-->
<!--														, fromPrice=${productSearchDTO.fromPrice}-->
<!--														, toPrice=${productSearchDTO.toPrice})}"-->
<!--					   th:text="${pageNo}"></a>-->
<!--				</li>-->
<!--				<li class="page-item" th:classappend="${paginationInfo.currentPageNo == paginationInfo.totalPageCount} ? disabled">-->
<!--					<a class="page-link" th:href="@{/home(currentPageNo=${paginationInfo.currentPageNo + 1}-->
<!--																		, productNm=${productSearchDTO.productNm}-->
<!--																		, fromPrice=${productSearchDTO.fromPrice}-->
<!--																		, toPrice=${productSearchDTO.toPrice})}"-->
<!--					   th:text="#{button.next}">-->
<!--						다음-->
<!--					</a>-->
<!--				</li>-->
<!--			</ul>-->
<!--		</nav>-->
	</div>
</body>
</html>