<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>상품수정</title>
  <!-- 부트스트랩 CSS 파일 불러오기 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container justify-content-center">
  <div class="row mt-3">
    <div class="col text-center"><h2 class="font-weight-bold" th:text="#{page.title.product.edit}">상품 수정</h2></div>
  </div>
  <form id="editForm" th:object="${product}" th:action="@{/product/{productNum}/edit(productNum=${product.productNum})}" method="POST">
  <div class="row mt-3">
    <div class="col-md-5 mx-auto">
      <label for="productName" th:text="#{label.product.productName}">상품명</label>
      <input type="text" id="productName" th:field="*{productName}" class="form-control" value="상품A">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-5 mx-auto">
      <label for="price" th:text="#{label.product.price}">가격</label>
      <input type="text" id="price" th:field="*{price}" class="form-control" value="10000">
    </div>
  </div>
    <div th:if="${#fields.hasErrors('price')}">
      <div class="row mt-0" id="priceError">
        <div class="col-md-5 mx-auto">
          <span th:errors="*{price}" class="text-danger"></span>
        </div>
      </div>
    </div>
  <div class="row mt-3">
    <div class="col-md-5 mx-auto">
      <label for="quantity" th:text="#{label.product.quantity}">수량</label>
      <input type="text" id="quantity" th:field="*{quantity}" class="form-control" value="10">
    </div>
  </div>
    <div th:if="${#fields.hasErrors('quantity')}">
      <div class="row mt-0" id="quantityError">
        <div class="col-md-5 mx-auto">
          <span th:errors="*{quantity}" class="text-danger"></span>
        </div>
      </div>
    </div>

  <div  class="row mt-3">
    <div class="col-md-5 mx-auto">
      <hr class="my-4">
    </div>
  </div>
  <div  class="row mt-3">
    <div class="col-md-5 mx-auto">
      <div class="row">
        <div class="col">
          <button class="btn btn-primary btn-lg btn-block"
                  type="submit" th:text="#{button.complete}">완료</button>
        </div>
        <div class="col">
          <button class="btn btn-primary btn-lg btn-block"
                  onclick="location.href='/'"
                  th:onclick="|location.href='@{/product/{productNum}(productNum=${product.productNum})}'|"
                  type="button" th:text="#{button.cancel}">취소</button>
        </div>
      </div>
    </div>
  </div>
  </form>
</div> <!-- /container -->
</body>
</html>