<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.title.product.register}">상품등록</title>
    <!-- 부트스트랩 CSS 파일 불러오기 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container justify-content-center">
    <!-- 페이지 타이틀 -->
    <div class="row mt-3">
        <div class="col text-center"><h2 class="font-weight-bold" th:text="#{page.title.product.register}">상품등록</h2></div>
    </div>
    <!-- 입력정보 -->
    <form id="productRegisterForm" th:action="@{/users/join}" th:object="${productRegisterDTO}" method="post">
        <div class="row mt-3">
            <div class="col-md-5 mx-auto">
                <div>*상품명 : </div>
                <input type="text" th:field="*{productName}" id="productName" class="form-control" placeholder="상품명" >
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-5 mx-auto">
                <div>*가격 : </div>
                <input type="text" th:field="*{price}" id="price" class="form-control" placeholder="가격" >
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-5 mx-auto">
                <div>*수량 : </div>
                <input type="number" th:field="*{quantity}" id="quantity" class="form-control" placeholder="수량" >
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-5 mx-auto">
                <div>*수량 : </div>
                <select th:field="*{productStts}">
                    <option value="01">판매준비</option>
                    <option value="02">판매중</option>
                </select>
            </div>
        </div>
        <!-- 버튼 -->
        <div class="row mt-3">
            <div class="col">
                <div class="text-center">
                    <button class="btn btn-primary"
                            onclick="location.href='home.html'"
                            th:onclick="|location.href='@{/home}'|"
                            type="button" th:text="#{button.home}">목록으로</button>
                    <button id="" class="btn btn-primary" type="submit" >상품등록</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>