<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.title.product.register}">상품등록</title>
    <!-- 부트스트랩 CSS 파일 불러오기 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container justify-content-center">
    <!-- 페이지 타이틀 -->
    <div class="row mt-3">
        <div class="col text-center"><h2 class="font-weight-bold" th:text="#{page.title.product.register}">상품등록</h2></div>
    </div>
    <!-- 입력정보 -->
    <form id="productRegisterForm" th:action="@{/product/register}" th:object="${productRegisterDTO}" method="post">
        <div class="row mt-3">
            <div class="col-md-5 mx-auto">
                <div>*상품명 : </div>
                <input type="text" th:field="*{productName}" id="productName" class="form-control" placeholder="상품명" >
            </div>
        </div>
        <div th:if="${#fields.hasErrors('productName')}">
            <div class="row mt-0" id="productName">
                <div class="col-md-5 mx-auto">
                    <span th:errors="*{productName}" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-5 mx-auto">
                <div>*가격 : </div>
                <input type="number" th:field="*{price}" th:errorclass="border-danger" id="price" class="form-control" placeholder="가격" >
            </div>
        </div>
        <div th:if="${#fields.hasErrors('price')}">
            <div class="row mt-0" id="priceError">
                <div class="col-md-5 mx-auto">
                    <span th:errors="*{price}" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-5 mx-auto">
                <div>*수량 : </div>
                <input type="number"  th:errorclass="border-danger" th:field="*{quantity}" id="quantity" class="form-control" placeholder="수량" >
            </div>
        </div>
        <div th:if="${#fields.hasErrors('quantity')}">
            <div class="row mt-0" id="quantityError">
                <div class="col-md-5 mx-auto">
                    <span th:errors="*{quantity}" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-5 mx-auto">
                <div>*상태 : </div>
                <select class="custom-select" th:field="*{productStts}">
                    <option value="01">판매준비</option>
                    <option value="02">판매중</option>
                </select>
            </div>
        </div>
        <!-- 버튼 -->
        <div class="row mt-3">
            <div class="col-md-5 mx-auto">
                <div class="row">
                    <div class="col">
                        <button id="" class="btn btn-primary btn-lg btn-block" type="submit" >등록</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary btn-lg btn-block"
                                onclick="location.href='home.html'"
                                th:onclick="|location.href='@{/home}'|"
                                type="button" th:text="#{button.cancel}">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>