<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>주문 내역</title>
	<!-- 부트스트랩 CSS 파일 불러오기 -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<!-- 판매자신청내역 제목 -->
		<div class="row mt-3">
			<div class="col text-center"><h2 class="font-weight-bold" th:text="#{page.title.sellerApplyList}">판매자신청</h2></div>
		</div>
		<div class="row mt-3">
			<div class="col-md-2">
				<div class="text-left">
					<form th:action="@{/myPage/sellerApply}" method="post">
						<button type="submit" class="btn btn-primary btn-block"
								th:text="#{button.seller.apply}">판매자 신청</button>
					</form>

				</div>
			</div>
		</div>
		<!-- 신청내역 테이블 -->
		<div class="row mt-3">
			<div class="mt-3 col-md-12 table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center" style="width: 5%" th:text="#{label.seller.apply.date}">날짜</th>
							<th class="text-center" style="width: 10%" th:text="#{label.seller.apply.result}">결과</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="apply : ${applyList}">
							<td class="text-center" th:text="${apply.registerDt}">날짜</td>
							<td class="text-center" th:text="${apply.sellerApplyStatusNm}">결과</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-7 mx-auto">
				<button class="w-100 btn btn-secondary btn-lg"
						onclick="location.href='home.html'"
						th:onclick="|location.href='@{/myPage}'|"
						type="button" th:text="#{button.previous}">이전</button>
			</div>
		</div>
	</div>
</body>
</html>
