<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.toy.everythingshop.repository.SampleDAO">
    <select id="findAll" resultType="SampleEntity">
        SELECT T01.ID
             , T01.NAME
          FROM SAMPLE_TABLE T01
    </select>

    <insert id="saveSample">
        INSERT INTO SAMPLE_TABLE
        (NAME)VALUES (#{name})
    </insert>
</mapper>